@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

h1 a {
    text-decoration: none;
}

header#topo {
    background: rgba(255,255,255,0.95);
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 0 auto;

    display: flex;
    /* Para telas muito pequenas ficar um abaixo do outro */
    flex-wrap: wrap;

    /* alinhamento horizontal */
    justify-content: space-between;  /* espaco entre os elementos */

    /* alinhamento vertical */
    align-items: center; /* alinhar no meio vertical */
}

#logo {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #8D1FBC;
}

#menu-superior > ul {
    display: flex;
}

#menu-inferior {
    border-top: 1px solid #ccc;
    position: sticky;
    bottom: 0;
}

#menu-inferior > nav > ul {
    background: rgba(255,255,255,0.95);
    max-width: 960px;
    display: flex;
    justify-content:center;
}

#menu-superior ul li, #menu-inferior ul li, #acoes-na-postagem ul li, #acoes-no-video ul li, #acoes-no-audio ul li{
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
}

#menu-superior a, #menu-inferior a, #acoes-na-postagem a, #acoes-no-video a, #acoes-no-audio a {
    color: #191919;
    font-size: 1.75rem;
    padding: 0.75rem;
}

#menu-superior a:hover, #menu-inferior a:hover, #acoes-na-postagem a:hover, #acoes-no-video a:hover, #acoes-no-audio a:hover {
    color: #8D1FBC;
}

/* MENU DROPDOWN */
/* Estilo do Botao Dropdown */
.dropbtn {
    border: none;
    cursor: pointer;
    text-align: center;
}
.dropbtn a {
    color: #191919;
}
.dropbtn a:hover, .dropdown-content a:hover {
    color: #8D1FBC;
}
/* <div> - usada para posicionar o conteudo do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Conteudo do dropdown. Por padrao esconder */
.dropdown-content {
    font-size: 0.85rem;
    display: none; /* aqui a gente esconde ele */
    right: 0; /*  */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links dentro do dropdown */
.dropdown-content a {
    color: #191919;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
}
/* Mudar cor dos links quando passamos o mouse por cima */
.dropdown-content a:hover { background-color: #f1f1f1 }
/* Mostrar ou exibir o menu dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

/* AREA DO FEED ONDE ESTAO OS CONTEUDOS */ 

header.topo-do-video, header.topo-da-postagem, header.topo-do-audio {
    margin: 0 1rem 1rem 1rem;
    display: flex; /* FLEX */
    justify-content: space-between;
    align-items: center;
}

/* div com id quem, contem foto-perfil e quem-postou */
div#quem {
    display: flex;
}

/* Foto do Perfil */
#foto-perfil {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
}

/* Div com h2+span nome do perfil e local */
#quem-postou {
    margin-left: 1rem;
}

/* Nome do Perfil que postou */
.topo-do-video h2, .topo-da-postagem h2, .topo-do-audio h2 {
    font-size: 1rem;
}

/* Texto da Localizacao */
.topo-do-video span, .topo-da-postagem span, .topo-do-audio span {
    font-size: 0.75rem;
}

/* botao ... */
#opcoes-da-postagem, #opcoes-do-video, #opcoes-do-audio {
    justify-content: end;
    margin-right: 1rem;
    padding: 0.75rem;
}

/* FEED e a section onde estao as imagens ou os videos */
section#feed {
    padding-top: 1rem;
    max-width: 960px;
}

article.postagem, article.video, article.audio {
    margin-bottom: 1.5rem;
}

div.conteudo-da-postagem, div.conteudo-do-video, div.conteudo-do-audio {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
/* iframe de video incorporado do youtube */
iframe {
    margin: 0 auto;
}

/* Imagem da postagem */
.conteudo-da-postagem img {
    height: 75vh;
}

/* RESPONSIVIDADE COM MEDIA QUERIES */
@media (max-width: 960px) {
    section {
        padding: 0.625rem;
    }
    .conteudo-da-postagem, .conteudo-do-video, .conteudo-do-audio {
        width:100%;
    }
    .conteudo-da-postagem img {
        height: 80vh;
        object-fit: contain;
        object-position:center;
    }
}

@media (max-width: 480px) {
    #quem h2 {
        font-size: 80%;
    }
    #quem span, .dropdown-content, footer > p {
        font-size: 70%;
    }
    #menu-inferior i, #acoes-na-postagem i, #acoes-no-video i, #acoes-no-audio i {
        flex-wrap: wrap;
        font-size: 70%;
    }
}

@media (max-width: 450px) {
    .conteudo-da-postagem img {
        height: 50vh;
        object-fit: contain;
        object-position:center;
    }
}

/* CSS FLEX-BOX */

/* video e imagens responsivas */
.conteudo-da-postagem > img, video, iframe {
    max-width: 100%;
    display: block;
}

/*
o artigo que esta dentro do feed
nele estao os Imagens (Fotos) ou Videos ou Audios
> Indicador de descendente direto (filho)
*/
.feed > article {
    /* margem entre os itens */
    margin: 0.625rem;
}

.conteudo-do-audio {
    max-width: 960px;
    margin: 0 auto;
}

.audio > figure > figcaption {
    text-align: center;
}

figcaption > strong {
    margin-left: 1.5rem;
}

#capa-musica {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
